In [2]:
import pandas as pd

In [3]:
sea_crime_df = pd.read_csv('../Datasets/SeatleCrime.csv')
ano_df = pd.DataFrame()
sea_crime_menor_df = sea_crime_df.iloc[:,[1,4,7,15,16]]

sea_crime_menor_df["Report DateTime"] = pd.to_datetime(sea_crime_menor_df["Report DateTime"])
sea_crime_menor_df["Mes"] = sea_crime_menor_df["Report DateTime"].dt.month
sea_crime_menor_df["Ano"] = sea_crime_menor_df["Report DateTime"].dt.year

sea_crime_menor_df.head()

/tmp/ipykernel_59325/3487577710.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sea_crime_menor_df["Report DateTime"] = pd.to_datetime(sea_crime_menor_df["Report DateTime"])
/tmp/ipykernel_59325/3487577710.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sea_crime_menor_df["Mes"] = sea_crime_menor_df["Report DateTime"].dt.month
/tmp/ipykernel_59325/3487577710.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sea_crime_menor_df["Ano"] = sea_crime_menor_df["Report DateTime"].dt.year

,Offense ID,Report DateTime,Offense Parent Group,Longitude,Latitude,Mes,Ano
0,12605873663,2020-02-05 11:24:31,DRUG/NARCOTIC OFFENSES,-122.385974,47.649387,2,2020
1,12605598696,2020-02-05 10:06:28,LARCENY-THEFT,-122.323399,47.675118,2,2020
2,12605567653,2020-02-05 09:39:33,ROBBERY,-122.299552,47.666384,2,2020
3,12605174036,2020-02-05 03:30:55,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,-122.384865,47.642927,2,2020
4,12605081469,2020-02-05 12:51:31,DRIVING UNDER THE INFLUENCE,-122.366195,47.662193,2,2020

In [5]:
crime_seatle_2021_2022_df = pd.DataFrame()
crime_seatle_2021_2022_df[["Id Crime","Mes","Ano","Categoria","Longitude","Latitude"]] = \
                sea_crime_menor_df[["Offense ID","Mes","Ano","Offense Parent Group","Longitude","Latitude"]]
crime_seatle_2021_2022_df =  crime_seatle_2021_2022_df[(crime_seatle_2021_2022_df['Ano'] == 2021) | \
                             (crime_seatle_2021_2022_df['Ano'] == 2022) ]
crime_seatle_2021_2022_df.to_csv("../Datasets/CrimeSeatle2021-2022.csv")

In [8]:
crime_seatle_2021_2022_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146819 entries, 851237 to 1068745
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Id Crime   146819 non-null  int64
 1   Mes        146819 non-null  int32
 2   Ano        146819 non-null  int32
 3   Categoria  146819 non-null  object
 4   Longitude  146819 non-null  float64
 5   Latitude   146819 non-null  float64
dtypes: float64(2), int32(2), int64(1), object(1)
memory usage: 6.7+ MB